--- 
--- 

@import "{{ site.theme }}";

/* 隐藏侧栏 */
.wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    display: none;
    /* 完全隐藏侧栏 */
}

section {
    width: 100%;
    float: none;
    padding: 20px;
}

footer {
    display: none;
    /* 隐藏底部信息 */
}